<div class="conteiner-fluid" style="background: linear-gradient(#D3D8E8, white);">
  <div class="contact-image">
    <div class="top-message">
      <!-- <%= image_tag("varanasi.jpg") %> -->
      <h2>Contact</h2>
      <p>We’re ready to lead you into the future of after the SNS.</p>
    </div>
  </div>
  <div class="" style="padding:20px 0;">
    <div class="col-md-10 offset-md-1">
      <div class="card" style="margin:20px 0;">
        <div class="card-body" style="text-align:center;">
          <h3 style="font-family:sans-serif;">Get in touch with us<h3>
            <div class="row">
              <div class="col-md-6">
                
              </div>
              <div class="col-md-6">
                <p>Please note: all fields are required.</p>
                <form class="from-group" method="post" action="mailto:zephyr1916@gmail.com">
                  <div class="field">
                    <label for="firstname" style="text-align:left;">First Name</label>
                    <input type="text" name="" value="" placeholder="Enter your firstname" class="form-control" id="firstname">
                  </div>
                  <div class="field">
                    <label for="lastname">Last Name</label>
                    <input type="text" name="" value="" placeholder="Enter your Lastname" class="form-control" id="lastname">
                  </div>
                  <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="" value="" placeholder="Enter your email" class="form-control" id="email">
                  </div>
                  <div class="field">
                    <label for="comments">Comments</label>
                    <textarea name="" rows="8" cols="80" placeholder="Please enter your comments" class="form-control" id="comments"></textarea>
                  </div>
                  <div class="action">
                    <button type="submit" name="" class="btn btn-primary">Send your comments</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
